*{
    margin:0; padding: 0;
}
.backimage{
    width: 100%; height: 100vh;
    background-image: url('4.jpg'); background-size: cover; display: flex;
    align-items: center; justify-content: center; text-align: center; color: white;
}
.profile{
    width: 400px;
    
}
Img{
    height: 250px; border-radius: 70%;
}
i{
    color: white;
}
.profileText{
    line-height: 1.9em; margin-bottom:20px;
}
.profileText h2{
    font-size: 2em; font-weight: 500; margin-bottom: 10px;
}
.profileText h3{
    font-size: 1.4em; font-weight: 500; margin-bottom: 10px;

}
.profileText p{
    margin-bottom: 5px;
}
.menu ul{width:100%; height:100px; display:flex; flex-direction:row;
    justify-content:space-around; align-items: center;}

}